* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    /* scroll-snap-type: Y proximity; */
}

::-webkit-scrollbar {
    width: 0.5rem;
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--scrollbar--bg--color);

}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--nav--bg--color);
    border-radius: 50px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--footer--hover--color);
}

:root {
    --body--bg--color: rgba(244, 120, 32, 0.2);
    --nav--bg--color: #f47820;
    --footer--hover--color: #f39c12;
    --scrollbar--bg--color: #1f2025;
    --scroll--thumb--bg--color: #000;
    --social-icons--color: #ecf0f1;
    --social-icons--hover--color: #ff7f50;
    --section--header--color: #333;
    --section--description--color: #555;
    --form-control-bg-color: #f9f9f9;
    --text--color: white;
}

body {
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
    padding-top: 70px;
    overflow-x: hidden;
    background-color: var(--body--bg--color);


}

.carousel {
    height: 600px;
}

/* .carousel img {
    height: 500px;
    width: 100%;
    object-fit: cover;
} */




.section-header {
    font-size: 2.5rem;
    font-weight: 700;
    color: var(--section--header--color);
    margin-bottom: 1.5rem;
}

.section-description {
    font-size: 1.1rem;
    color: var(--section--description--color);
    margin-bottom: 3rem;
    line-height: 1.8;
}



.social-icons a {
    color: var(--text--color);
    margin: 0 10px;
    font-size: 1.5rem;
    transition: color 0.3s;
}

.social-icons a:hover {
    color: var(--social-icons--hover--color);
}




.form-control {
    background-color: var(--form-control-bg-color);
    color: var(--scroll--thumb--bg--color);
}

/* Section Styling */
/* #contact {
    position: relative;
    z-index: 1;
} */


nav {
    background-color: var(--nav--bg--color);

}



.ordermenu {
    background-color: var(--nav--bg--color);

}

.ordermenu img {
    float: right;
}

.ordermenu a {
    display: inline;
    justify-content: center;
    align-items: center;
}

.navbar .navbar-nav .nav-link {
    color: var(--text--color);
}

.navbar .navbar-nav .nav-link:hover {
    color: var(--scrollbar--bg--color);
}

@media(max-width:576px) {
    nav {
        overflow-x: hidden;
    }

    body {
        overflow-x: hidden;
    }

    section {
        overflow-x: hidden;
    }

    .carousel {
        height: 300px;
        width: 100%;
        overflow: hidden;
    }

    .carousel img {
        width: 100%;
        object-fit: fill;

    }

    div {
        overflow-x: hidden;
    }

    #menu {
        overflow-x: hidden;
    }
}

.footer {

    color: var(--text--color);
    padding: 40px 0;

}

.footer h5 {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.footer a {
    color: var(--social-icons--color);
    text-decoration: none;
}

.footer a:hover {
    color: var(--footer--hover--color);
}

.footer .social-icons a {
    font-size: 1.5rem;
    margin: 0 10px;
    color: var(--social-icons--color);
}

.footer .social-icons a:hover {
    color: var(--footer--hover--color);
}

footer {
    background-image: url("assets/footer-bg.png");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

#logo-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--nav--bg--color);
    /* Background color */
    display: flex;
    justify-content: center;
    /* Center horizontally */
    align-items: center;
    /* Center vertically */
    z-index: 1000;
    overflow: hidden;
    /* Prevent overflow */
}

/* Logo styling */
#logo-overlay img {
    width: auto;
    height: 100px;
    /* Fixed height for larger devices */
    max-width: 100%;
    animation: blink 5s infinite;
}

@keyframes blink {

    0%,
    50%,
    100% {
        opacity: 1;
    }

    25%,
    75% {
        opacity: 0.3;
    }
}

@media (max-width: 768px) {
    #logo-overlay img {
        height: 80px;
        /* Adjust height for tablets and smaller devices */
    }
}

@media (max-width: 576px) {
    #logo-overlay img {
        height: 70px;
        /* Further adjust height for mobile screens */
        width: auto;
    }

    nav .container-fluid {
        padding: 0px 12px 0px 12px;
    }


}

#main-content {
    display: none;
}

.container-fluid {
    padding: 0px;
}

.navbar-toggler {
    border: 0px;
    border-radius: 0px;
}

.navbar-toggler-icon {
    border: 0px;
    border-radius: 0px;

}

nav {
    --bs-navbar-toggler-focus-width: 0px;
    --bs-navbar-toggler-border-radius: 0px;
    --bs-navbar-toggler-transition: none;
}

.navbar-toggler:focus,
.navbar-toggler:active {
    outline: none !important;
    box-shadow: none !important;
    border: none !important;
}

.carousel-item video {
    object-fit: fill;
    height: 500px;
}

@media(max-width:576px) {

    .carousel-item video {
        object-fit: fill;
        height: auto;
    }
}
